header

  width: 100%
  height: 100px
  color: $white
  background: $lightgrey
  .container
    flex-direction: row
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

    h1.logo
      font-weight: 600
      font-size: 30px
      color: $blue
    nav
      text-transform: uppercase
      a
        font-family: $alt-font-family
        font-weight: normal
        font-size: 18px
        color: $dark
        margin-left: 26px
        text-decoration: none
        &:first-child
          margin-left: 0
        &.current
          text-decoration: underline

  @media only screen and (max-width: 690px)
    .container
      h1.logo
        font-size: 25px
        margin-right: 20px

      nav
        a
          font-size: 18px
          margin-left: 16px

  @media only screen and (max-width: 400px)
    nav
      a
        font-size: 16px
