section#portfolioposts
  height: 100%
  margin-top: 60px
  width: 100%
  display: flex
  flex-direction: row
  flex-flow: wrap
  align-items: center
  justify-content: space-between
  margin-bottom: 75px
  //overflow: hidden
  .box
    &:nth-child(-n+3)
      margin-top: 0
    margin-top: 66px
    height: 196px
    width: 196px
    //overflow: hidden
    &:hover .info
      opacity: 1


    a
      text-decoration: none

    .image
      background-size: cover
      background-position: center
      height: 100%
      width: 100%

    .info
      position: relative
      top: -196px
      height: 100%
      width: 100%
      background-color: transparentize($blue, 0.4)
      opacity: 0
      transition: all 250ms ease-in-out
      display: flex
      flex-direction: column
      justify-content: space-between
      .text
        padding: 30px
        p.date, p.title
          font-family: $alt-font-family
        .date
          font-size: 15px
          color: transparentize($white, 0.2)
        .title
          font-size: 2em
          color: $white
          text-decoration: underline


section#portfolio-post
  display: flex
  justify-content: center
  flex-direction: column
  min-height: 100vh
  margin-top: 45px
  .cover-image
    width: 100%
    height: 400px
    background-size: cover
    background-position: center
    margin-bottom: 50px

  div.info
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline
    .date, .author
      font-family: $alt-font-family
      font-size: 18px
      font-weight: 600
    .date
      font-style: italic
      color: $grey
    .learnmore
      text-transform: uppercase
