section#post
  display: flex
  justify-content: center
  flex-direction: column
  .cover-image
    width: 100%
    height: 200px
    background-size: cover
    background-position: center
    margin-bottom: 50px
