<header>
  <div class="container">
    <a href="/" class="no-underline"><h1 class="logo fade">Koen Westendorp</h1></a>
    <nav>
      <a href="/" class="{% if page.title == 'home' %}current {% endif %}fade">Home</a>
      <a href="/about" class="{% if page.title == 'about' %}current {% endif %}fade">About</a>
      <a href="/blog" class="{% if page.title == 'blog' %}current {% endif %}fade">Blog</a>
      <a href="/portfolio" class="{% if page.title == 'portfolio' %}current {% endif %}fade">Portfolio</a>
    </nav>
  </div>
</header>
